@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tw-bg-opacity: 1;

  --font-mont: "__Montserrat_2c3fb3", "__Montserrat_Fallback_2c3fb3";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(27 27 27/var(--tw-bg-opacity));
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
